/*MENU DE NAVIGATION*/
header{
    position: sticky;
    display: flex;
    background-color: #213C4E;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem clamp(1rem, 3vw, 2rem);
}


nav{
    display: flex;
    flex-direction: row;
    color:#FFF5D9;
    justify-content: space-between;
    align-items: center;
    gap: 65rem;
    flex-wrap: wrap;
    padding: 1rem clamp(1rem, 3vw, 2rem);
}

nav>div{
    text-align: right;
    display: flex;
    flex-direction: row;
    gap:5rem;
}

nav h1:hover{
    color: black;
    text-decoration: underline;
}

nav div p:hover{
    color: black;
    font-style: italic;
}

main:nth-child(2n+1){
    background-color: #7B949C;
}

main:nth-child(2n){
    background-color: #536C7C;
}

section{
    border-radius: 50px;
}