/*MENU DE NAVIGATION*/
header{
    position: sticky;
    display: flex;
    background-color: #213C4E;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem clamp(1rem, 3vw, 2rem);
}

h2{
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    color:#FFF5D9;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    flex-wrap: wrap;
    padding: 1rem clamp(1rem, 3vw, 2rem);
}

nav>div{
    text-align: right;
    display: flex;
    flex-direction: row;
    gap:5rem;
}

nav h1:hover{
    color: black;
    text-decoration: underline;
}

nav div p:hover{
    color: black;
    font-style: italic;
}

section:nth-child(2n+1){
    background-color: #7B949C;
    border-color:#213C4E ;
}

section:nth-child(2n){
    background-color: #536C7C;
    border-color:#213C4E;
}

section{
    margin:2%;
    padding: 1%;
    border-radius: 50px;
    overflow: auto;
    border-style:solid;
}

#moi p{
    text-align: center;
    padding-top: 5%;
}

#photoDeProfil>img{
    max-width: 100%;
    height: auto;
}

#photoDeProfil{
    float: left;
    width: 25%;
    height: 50%;
    
}
a {
  text-decoration: none; 
  color: inherit;     
}
a:link{
   text-decoration: none;
    color:#FFF5D9;
}

a:link:hover{
    text-decoration: none;
    color:#182241;
}


#parcours figure:nth-child(2n+1){
    text-align:left;

}

#parcours figure:nth-child(2n){
    text-align: right;
}

#parcours figcaption{
    text-align: center;
    background-color: #7B949C;
    border-color:#213C4E ;
    border-radius: 25px;
    width: 300px;
    height: auto;
    border-color: black;
    border-style: solid;
}

#iut figcaption{
    text-align: center;
    background-color: #7B949C;
    border-color:#213C4E ;
    border-radius: 25px;
    width: 300px;
    height: auto;
    border-color: black;
    border-style: solid;
    margin:0em 0em 0em 54em;
}